@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");

html {
  min-height: 100%;
  min-width: 100%;
  background-image: url(./4.jpg);
  background-position: center;
  background-size: cover;
}

.flex-container {
  margin: 50px 30px 0px 30px;
  display: flex;
  height: 700px;
  flex-wrap: wrap;
  align-content: space-between;
}

.App {
  display: inline-flex;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  background-image: url(./1.jpg);
  color: rgba(255, 255, 255, 0.726);
  font-size: 60px;
  width: 50%;
  min-width: 300px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.212);
}

.col2 {
  display: inline-flex;
  width: 50%;
}
