.footer {
    position: fixed;
    width: 100%;
    text-align: right;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: rgba(15, 15, 15, 0.726);
}

a {
    color: rgba(15, 15, 15, 0.726);
    font-style: normal;
    text-decoration: none;
    font-variant: normal;
}

i:hover {
    color: #433879;
    font-weight: 700;
}